- if user_signed_in? && params[:action] != 'transport'
  %b Du bist eingeloggt als
  %em
  = link_to current_user.email, edit_user_path(current_user)
  |
  = link_to "logout", destroy_user_session_path, method: :delete
  |
  = link_to "Home", root_path
  - if !current_page?(donators_path)
    |
    = link_to "Spendenübersicht", donators_path