Es wurde für sie ein Account bei der Organisation
= @organization.name
angelegt
%br/
Ihr Daten sind folgende:
%br/
Accountname:
= @user.name
%br/
EMail:
= @user.email
%br/
- if @user.is_admin?
  Du wurdest als Admin angelegt
- else
  Du wurdest als normaler Mitarbeiter erstellt
  %br/
Um deinen Account freizuschalten musst du ein Passwort festlegen
%br/
%div= link_to "Account freischalten", @url
