@import url('https://fonts.googleapis.com/css?family=Roboto');

// Global styling
h1 {
  font-family: Roboto, monospace;
}

// Donator
.donator-form {
  max-width: 400px;
  li {
    list-style: none;
  }
}

// Donation
.donations {
background-color: #d4f2ca;
  li {
    list-style: none;
  }
}

.donations-overview {
  li {
    list-style: none;
  }
}

// Transporter
.transporter-form {
  max-width: 300px;
  li {
    list-style: none;
  }
}

// Organization
.organization-form {
  max-width: 300px;
  li {
    list-style: none;
  }
}