@import url('https://fonts.googleapis.com/css?family=Roboto');

// Global styling
h1 {
  font-family: Roboto, monospace;
}

// Donator page
.donator-form {
  max-width: 400px;
  li {
    list-style: none;
  }
}

// Donations overview
.donations {
background-color: #d4f2ca;
  li {
    list-style: none;
  }
}